<section class="courses-banner">
    <div class="banner-text">Your Cart</div>
</section>
<section class='alc-courses'>
    <div class="column">
        <div class="row">
            <div class='col-lg-4 col-md-4 col-sm-6 col-xs-12' ng-repeat="course in ctrl.itemsInCart">
                <div class="course-card">
                    <div class="course-card__img-container">
                        <a ng-click="ctrl.goShowPage(course)"><img class="course-card__img" src="{{ course.photo }}"></a>
                    </div>
                    <div class="course-card__body">
                        <div class="row">
                            <div class='col-xs-7'>
                                <div class='course-card__instructor-name'>{{ course.teacher_name }}</div>
                            </div>
                            <div class='col-xs-5'>
                                <div class='course-card__price'>{{ course.price | currency }}</div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-md-12'>
                                <h4 class='course-card__title'>{{ course.name }}</h4>
                                <p class='course-card__description'>{{ course.tagline }}</p>
                            </div>
                        </div>
                        <div class='course-card__cta'>
                            <div class='row'>
                                <div class='col-md-12'>
                                    <a class="btn btn-primary btn-block" ng-click="">Delete Item</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <center><a ui-sref="#" class="page-scroll btn btn-xl">Checkout</a></center>
</section>
