body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.states {
  fill: lightblue;
}

.borders {
  fill: none;
  stroke: white;
  stroke-linejoin:  round;
  stroke-width: 1px;
}

