@import url(https://fonts.googleapis.com/css?family=Merriweather);

a {
  color: #00B7FF;
}
.about {
  text-align: center;
}
.about p {
  padding: 50px;
}

.rChart {
      width: 1260px;
      height: 630px;
}

/*#disqus_thread{
      padding-top: 100px;
    }*/

.datamaps {
  padding: 20px;
  position: absolute;
}

.hoverinfo {
  text-align: center;
  border: 5px solid yellow;
  font-family: "Merriweather";
}

.course {
  width: 300px;
}

.courses-banner {
  position: relative;
  height: 400px;
  background-image: url(/img/courses-photo.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #690d38;
  color: #fafafa;
}

}





