@import url(https://fonts.googleapis.com/css?family=Merriweather);

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.rChart {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 1260px;
      height: 630px;
}

#disqus_thread{
      padding-top: 100px;
    }

.datamaps {
  position: absolute;
}

.hoverinfo {
  text-align: center;
  border: 5px solid yellow;
  font-family: "Merriweather";
}





